body
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin: 0;
}

#titleBar
{
    color: #fff;
    background: #E73C7E;
	padding-top: 1%;
	padding-bottom: 1%;
}

#title 
{
    display: inline;
	font-size: 60px;
 margin-left: 35%;
}

#userName
{
    display: inline;
	font-size: 30px;
	margin-left: 20%;
   padding-right: 20px;
   margin-bottom: 10%;
}

#registerResult
{
    display: block;
    margin-bottom: 5%;
    font-size: 30px;
    color: red;
}

.container-fluid{
  margin-top: 0;
  margin-bottom: 0;
}

#logoutButton 
{
    border-color: black;
	border-radius: 25px;
    background-color: rgb(155, 99, 155);
    transition-duration: 0.3s;
    font-size: 20px;
}
  
#logoutButton:hover 
{
    border-color: transparent;
    background-color: plum;
    color: white;
}

#loginInfo
{
  padding-top: 8%;
  padding-bottom: 12%;
  margin-top: 4%;
  border-left: 3px solid rgb(155, 99, 155);
  border-width: 100%;
  font-size: 30px;
}

#createContactButton
{
    background-color: rgb(155, 99, 155);
    border-color: #000000;
    border-radius: 25px;
    width: 75%;
    color: white;
    margin-top: 10%;
    font-size: 25px;
    border: 2px solid black;
    height: 50px;
    -webkit-transition: 0.9%;
    transition: 0.9%;
    transition-duration: 0.3s;
}

#createContactButton:hover
{
    border: 2px solid plum;
    background-color: plum;
    color: white;
}

#contactFirstName, #contactLastName, #contactEmail, #contactPhone
{
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid #b2b2b2;
    width: 80%;
    margin-top: 5%;
}


.no-gutters 
{
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] 
    {
      padding-right: 0;
      padding-left: 0;
    }
}

*{
    box-sizing: border-box;
}
  
#contactsInput 
{
    padding: 5px;
    font-size: 25px;
    border: 1px solid black;
    width: 97%;
    background: transparent;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}

form.searchBox button 
{
float: left;
width: 20%;
padding: 5px;
background: transparent;
color: white;
font-size: 12px;
border: 1px solid black;
border-left: none; 
cursor: pointer;
}

#myInput {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 100%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}
  
#contactsTable 
{
    border-collapse: collapse; /* Collapse borders */
    width: 97%; /* Full-width */
    border: 1px solid #000; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin-left: 3%;
}

#myTable th, #contactsTable td 
{
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#contactsTable tr 
{
/* Add a bottom border to all table rows */
border-bottom: 1px solid #000;
}

#mycontactsTable tr.header, #contactsTable tr:hover {
/* Add a grey background color to the table header and on hover */
background-color: #f1f1f1;
}

:focus
{
    outline: none;
}