/* Anna Malaj, Matthew Gomez
COP 4331, Spring 2021
2/16/2021 */

body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#titleContainer
{
    width: 40%;
    height: 100%;
    color: #fff; 
    background: linear-gradient(-45deg, navy, indigo, purple, mediumVioletRed, hotPink);
    background-size: 700% 100%;
    position: relative;
    animation: change 15s infinite;
}

#loginContainer
{
    background-color: #F5F5F5;
    padding-top: 8%;
    height: 100%;
}

#registerContainer
{
    padding-top: 5%;
    background-color: #F5F5F5;
    height: 100%;
}

#loginCheckbox:not(:checked), #registerCheckbox:not(:checked)
{
  background: #F5F5F5;
}

@keyframes change
{
    0% 
    {
        background-position: 0 50%;
    }

    50% 
    {
        background-position: 100% 50%;
    }

    100% 
    {
        background-position: 0 50%;
    }
}

#title 
{
    margin-top: 50%;
    font-size: 60px;
}

#subtitle 
{
    font-size: 25px;
}

#returningUser, #newUser
{
    display: block;
    margin-top: 2%;
}

#username, #password, #firstName, #lastName, #registerUsername, #registerPassword
{
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid #b2b2b2;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#homepageLink
{
    display: block;
    width: fit-content;
    margin-top: 2%;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

#loginResult
{
    display: block;
    margin-bottom: 5%;
    font-size: 30px;
    color: red;
}

:focus
{
    outline: none;
}

.btn.btn-flat
{

    background-color: #DBE9F4;
    border-color: #000000;
    border-radius: 25px;
    width: 60%;
    color: #000000;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 25px;
    border: 2px solid black;
    height: 50px;
    -webkit-transition: 0.9%;
    transition: 0.9%;
}

.btn-flat.btn-primary
{
    color: #000000;
    background: linear-gradient(30deg, #561496 50%, transparent 50%);
    background-position: right bottom;
    background-size: 220% 100%;
}

.btn-flat.btn-primary:hover
{
    background-position: left bottom;
    border: 2px solid #391E94;
    color: #fff
}